@import url('https://font.googleapis.com/css?family=CrimsonText'); 
* {
	box-sizing: border-box; 
	font-family:CrimsonText; 
	color:#777; 
}


html, body {
	margin: 0; 
	padding: 0; 
}

.navigation ul {
	margin: 0; 
}

.navigation li {
	display: inline;

}

.navigation a {
	display: inline-block;
	padding: .5em;
	color: white; 
	text-decoration: none; 
}


.navigation a:hover {
	background-color: rgba(255, 255, 255, 0.2); 
}

.main-nav {
	text-align: center; 
	font-size: 1.2em;
	font-weight: lighter; 
	border-bottom: 1px solid rgba(255, 255, 255,  .3);

}

.main-nav li {
	padding: 0 5%; 
}


.hw {
	text-align: center; 
	margin: 0; 
	font-size: 4em; 
	font-family: 'Lucida Sans'; 
	font-weight: normal; 
	color: white; 
}

.hw-large{
	font-size: 8em; 
}

.content-section {
	margin: 1em; 
}

.section-header {
	font-family: 'Tahoma'; 
	text-align: center; 
	color: #333; 
	font-weight: normal; 
	font-size: 2.5em;


}
.about-image {
	float:left; 
	height:200px; 
	width: 200px; 
	margin: 15px;
	border-radius: 80%; 

}

.main-footer{
	background-color: lightskyblue; 
	color:white;
	padding: .1em 0; 
}

.main-footer-container{
	display:flex;
	align-items: center; 

}
.main-footer-container ul{
	flex-grow:1;
	text-align: end;
}

.footer-nav li{
	padding: 0 .5em; 

}

.footer-nav img{
	width: 30px;
	height: 30px; 
}

.container {
	max-width: 1000px;
	margin:0 auto; 
	padding: 0 1.5em; 
}

.main-header {
	background-color: rgba(0,0,0,.3); 
	background-image: url('Pictures/villa-del-balbianello-lake-como.jpg'); 
	background-blend-mode: multiply; 
	background-size: cover; 
	padding-bottom: 300px; 
}


.btn {
	text-align: center; 
	vertical-align: middle; 
	padding: .67em;
	cursor: pointer;
}

.btn-header{
	margin: .5em 15% 2em 15%;
	color: white; 
	border: 2px solid rgb(44, 153, 241); 
	background-color: rgba(12, 67, 247, 0.1);
	border-radius: 0; 
	font-size:1.5em; 
	font-weight: lighter; 
	padding-left: 2em; 
	padding-right: 2em; 



}

.btn-header:hover{
	background-color: rgba(255, 255, 255, .3); 
}


.btn-play{
	display: block; 
	margin: 0 auto; 
	color: rgb(44, 153, 241);
	font-size: 4em; 
	border-radius: 50%; 
	padding: 0; 
	width: 100px; 
	height: 100px; 
}

.row{
	border-bottom: 1px solid black; 
	padding-bottom: 1em; 
	margin-bottom: 1em; 
}

.row:last-child{
	border-bottom: none; 
}

.item{
	padding-right:.5em;
	display: inline-block; 
	
}

.tour{
	color:#555;
	font-weight: bold; 
	width: 11%; 
}

.city{
	width: 24%; 

}

.arena{
	width: 42%; 
}

.tour-btn{
	max-width: 19%; 

}

.btn-primary{
	color: white; 
	background-color: #56CCF2; 
	border: none; 
	border-radius: .3em; 
	font-weight: bold; 
}

.btn-primary:hover{
	background-color: green;
}
